//---- Header ---- 

.header__btn{
    display: none;
}

//Mobile Nav
.nav_links {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 15rem;
    top: 5rem;
    right: 5%;
    left: 5%;
    border-radius: 5px;
    gap: 1.3rem;
   
}

@media screen and (min-width:750px){
    .nav_menu {
        display: none;
    }
    .header__btn{
        display: block;
    }
    
    .nav_links {
        position: relative;
        flex-direction: row;
        height: auto;
        top: 0;
        border-radius:0;
    }    
}
