    //Colors
    $dark-blue: hsl(233, 26%, 24%);
    $light-green: hsl(136, 65%, 51%);
    $light-blue: hsl(192, 70%, 51%);

    //Media Queries
    $mobile-max: 375px;
    $desktop-min:1440px;  


.dark-blue {
    color: $dark-blue;
}
.light-blue {
    color: $light-blue;
}
.light-green {
    color: $light-green;
}